.todo-list li label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 85px 15px 60px;
}

.todo-list li label .created {
	font-size: 13px;
	color: gray;
}

.todo-list li label .description {
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-weight: 400;
	color: #4d4d4d;
}

.todo-list li.completed label .description {
	color: #cdcdcd;
	text-decoration: line-through;
}

.todo-list li .icon {
	position: absolute;
	top: 0;
	bottom: -3px;
	width: 30px;
	height: 40px;
	font-size: 34px;
	color: #cc9a9a;
	margin: auto 0 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo-list li .icon:hover {
	color: #af5b5e;
}

.todo-list li .icon-destroy {
	right: 10px;
}

.todo-list li .icon-destroy:after {
	content: '×';
}

.todo-list li .icon-edit {
	font-size: 19px;
	right: 45px;
}

.todo-list li .icon-edit:after {
	content: '✎';
}

.todo-list li .edit {
	display: none;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.todo-list li input.editing {
	padding: 15px 85px 15px 60px;
	width: 100%;
	font-size: 20px;
	font-family: inherit;
	color: #4d4d4d;
	border: none;
	outline: none;
	background: none;
	box-sizing: border-box;
	line-height: 1.2;
	font-weight: 400;
  }